/**
 * Define global styles for the application,
 * usually html and body content.
 */
@import url("./fonts.css");
$default-padding: 16;
html,
body {
  color: value($color-basic, darkest);
  font-family: "QuickSand";
  font-size: calc($default-font-size * 0.65);
  height: 100%;
  width: 100%;

  @media screen and (min-width: value($media, s)) {
    font-size: calc($default-font-size * 0.8);
  }

  @media screen and (min-width: value($media, m)) {
    font-size: $default-font-size;
  }
}

* {
  font-family: "QuickSand";
  margin: 0;
}

body .body__container {
  padding: 16px;
}

h1 a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}
